<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VSSDK.Debugger.VSDConfigTool" version="17.0.2012801" developmentDependency="true" targetFramework="native" />
  <package id="Microsoft.VSSDK.Debugger.VSDebugEng" version="17.0.2012801" developmentDependency="true" targetFramework="native" />
  <package id="Microsoft.Windows.WinMD" version="1.0.210629.2" targetFramework="native" />
</packages>