<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VSSDK.Debugger.VSDConfigTool" version="16.0.2012201-preview" developmentDependency="true" />
  <package id="Microsoft.VSSDK.Debugger.VSDebugEng" version="16.0.2012201-preview" developmentDependency="true" />
  <package id="Microsoft.Windows.WinMD" version="1.0.210505.3" targetFramework="native" />
</packages>